In [13]:
def first_three_multiples(num):
    print(num)
    print(num * 2)
    print(num * 3)
    return num * 3

In [14]:
first_three_multiples(10)
first_three_multiples(0)

10
20
30
0
0
0

0

In [15]:
def tip(total, percentage):
    return total * percentage / 100

In [16]:
print(tip(10, 25))
print(tip(0, 100))

2.5
0.0

In [17]:
def introduction(first_name, last_name):
    return last_name + ", " + first_name + " " + last_name

In [18]:
print(introduction("James", "Bond"))
print(introduction("Maya", "Angelou"))

Bond, James Bond
Angelou, Maya Angelou

In [23]:
def dog_years(name, age):
    return name + ", " + "you are " + str(age * 7) + " years old in dog years."

In [24]:
print(dog_years("Lola", 16))
print(dog_years("Baby", 0))

Lola, you are 112 years old in dog years.
Baby, you are 0 years old in dog years.

In [25]:
def lots_of_math(a, b, c, d):
    first = a + b
    second = c - d
    third = first * second
    fourth = third % a
    print(first)
    print(second)
    print(third)
    return fourth

In [26]:
print(lots_of_math(1, 2, 3, 4))
print(lots_of_math(1, 1, 1, 1))

3
-1
-3
0
2
0
0
0